$colors:(color_teal: (white:#cafaff,
light:#00b9ce,
main:#27A2AF,
dark:#004a52,
teal:#008a9a,
gray:#8abbc1,
light30:lighten(#00b9ce, 30%),
gray30:lighten(#8abbc1, 30%)),

color_gray:(white:#f2f2f2,
light:#e1e1e1,
main:#EDEDED,
gray: #9b9b9b,
dark:#707070,
white30:lighten(#f2f2f2, 30%)),

color_yellow:(white:#fff6c4,
main:#ffe867,
dark:#ffd900),

other:(white: #fff,
black: #000,
red: #d0021b,
orange: #f5a623,
skyblue: #4a90e2,
green: #7ed321));