@import '_style';

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-right: 4%;
  margin-top: 10px;

  li {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: color(color_teal, dark);
    width: 40px;
    height: 40px;
    background-color: color(other, white);
    border-top: 1px solid color(color_gray, gray);
    border-bottom: 1px solid color(color_gray, gray);
    border-left: 1px solid color(color_gray, gray);
    border-right: 1px solid color(color_gray, gray);
    // border-right: none;

    &:hover {
      background-color: color(color_teal, dark);
      color: color(color_gray, white);
    }
  }

  .go_back {
    border-radius: 5px 0 0 5px;

    span {
      @include background-img;
      width: 8px;
      height: 8px;
      background-image: url(../assets/img/angle-double-left.svg);
    }

    &:hover {
      span {
        background-image: url(../assets/img/angle-double-left-white.svg);
      }
    }
  }

  .go_ahead {
    border-radius: 0px 5px 5px 0;

    span {
      @include background-img;
      width: 8px;
      height: 8px;
      background-image: url(../assets/img/angle-double-right.svg);
    }

    &:hover {
      span {
        background-image: url(../assets/img/angle-double-right-white.svg);
      }
    }
  }

  .lastPage {
    border-radius: 0px 5px 5px 0;
  }

  .firstPage {
    border-radius: 5px 0 0 5px;
  }

  .currentPage {
    color: color(color_gray, gray);
    cursor: default;

    &:hover {
      background-color: color(other, white);
      ;
      color: color(color_gray, gray);
    }

  }
}