@import '_reset';
@import '_style';

body {
  margin: 0 auto;
  max-width: 1024px;
  font-family: 'Microsoft JhengHei', 'PingFang', Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

header {
  height: 70px;
  background-color: adjust-color($color: color(color_teal, dark), $lightness: 5%);
  display: flex;
  justify-content: space-around;
  align-items: center;

  .logo {
    display: inline-flex;
    margin-right: 60px;
    margin-left: 4%;

    a {
      width: 250px;
      height: 70px;
      display: inline-block;
      text-indent: 101%;
      white-space: nowrap;
      overflow: hidden;
      background-image: url(../assets/img/GMS_logo_text.svg);
      background-repeat: no-repeat;

      &:hover {
        background-image: url(../assets/img/GMS_logo_text_light.svg);
      }
    }
  }

  >nav {
    display: inline-flex;
    margin-right: auto;
    margin-left: auto;

    li {
      display: inline-flex;
      padding: 0 10px;

      a {
        padding: 25px 10px;
        color: color(color_gray, white);
        font-weight: 600;

        &:hover,
        &:focus,
        &.checked {
          border-bottom: 4px solid color(other, white);
          color: color(other, white);
        }
      }
    }
  }

  .personal {
    margin-right: 4%;

    a {
      padding: 25px 0;
      color: color(color_gray, white);
      font-weight: bold;
    }

    ul {
      display: flex;

      li>a {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        padding: 10px 8px;

        &:hover {
          color: color(color_yellow, main);
        }
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all .3s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

@import '_loadingPage';
@import '_pagination';

footer {
  height: 70px;
  background-color: color(color_teal, dark);
}