@import '_style';

a {
  text-decoration: none;
}

.content {
  width: 100%;
  height: 100%;
  background-color: color(color_gray, white30);
  padding-bottom: 40px;

  @import '_extend.scss';

  .content_head>.edit_section {
    margin: 0 8px;
    position: relative;

    a {
      color: color(color_teal, dark);
      display: inline-flex;
      align-items: center;
    }

    ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 5;
      left: 0px;
      margin-top: 10px;
      box-shadow: 0 0 10px color(color_teal, dark);

      li {
        background-color: color(color_gray, white);
        width: 150px;
        height: 34px;
        display: inline-flex;
        align-items: center;

        &:first-child {
          padding-top: 6px;
        }

        &:last-child {
          padding-bottom: 6px;
        }

        input {
          margin: 10px 0px 10px 20px;
        }

        label {
          margin-left: 10px;
        }
      }
    }

    margin-left: auto;
  }


  .content_table {
    user-select: none; //禁止選取
    position: relative;
    margin: 0 4%;
    height: auto;
    overflow: auto;
    overflow-y: hidden;
    padding-bottom: 100px;

    table {
      position: relative;
      color: color(color_teal, dark);
      table-layout: auto;
      word-break: keep-all;

      tr {
        white-space: nowrap;
        border-spacing: 10px;

        th {
          height: 40px;
          text-align: left;
          background-color: color(color_yellow, main);
          display: inline-table;
          min-width: 120px;
          border-collapse: separate;
          border-spacing: 10px 0;

          &:first-child {
            vertical-align: top;
            min-width: 20px;
            border-spacing: 0;
          }
        }

        td {
          line-height: 150%;
          font-size: nth($font, 1);
          text-align: left;
          display: inline-table;
          min-width: 120px;
          max-width: 120px;
          word-break: break-all;
          white-space: normal;
          border-collapse: separate;
          border-spacing: 10px;

          &:first-child {
            font-size: 16px;
            text-align: right;
            min-width: 15px;
            margin-left: 7px;
            border-spacing: 0 7px;
          }
        }

        &:last-child {
          .status_select {
            top: -185px;
            left: 11px;
          }
        }
      }

      .table_title {
        height: 40px;
        line-height: 40px;
      }

      .table_check {
        position: relative;

        input {
          visibility: hidden;
        }

        label {
          position: absolute;
          z-index: 2;
          bottom: 10px;
          left: 1px;
          width: 15px;
          cursor: pointer;
          height: 15px;
          border-radius: 3px;
          display: inline-block;
          background-color: color(color_yellow, white);

          &:hover {
            background-color: color(color_teal, gray30);
          }

          &::after {
            content: none;
            position: absolute;
            bottom: 6px;
            left: 3px;
            width: 8px;
            height: 4px;
            transform: rotate(-45deg);
            border-bottom: 2px solid color(other, white);
            border-left: 2px solid color(other, white);
          }
        }

        input[class="checked"]+label {
          background-color: color(color_teal, dark);

          &::after {
            content: '';
          }
        }
      }

      .table_order_id,
      .order_id {
        min-width: 85px;
      }

      .order_id {
        text-align: center;
      }

      .table_customer,
      .customer {
        min-width: 140px;
      }

      .table_product {
        min-width: 185px;
      }

      .product_list {
        min-width: 185px;
        border-spacing: 0 10px;

        li {
          display: flex;
          margin: 0 20px 10px 10px;
          border-bottom: 1px solid color(color_teal, main);

          &:last-child {
            border: none;
            margin-bottom: 0px;
          }

          p {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            >span {
              color: color(color_teal, gray);
              margin-bottom: 8px;
            }
          }

          >span {
            margin-left: auto;
            margin-right: 10px;
            line-height: 50px;
          }
        }
      }

      .table_total,
      .total {
        min-width: 80px;
      }

      // .add_cart,
      // .check_out {
      //   // display: inline-flex;
      //   // align-items: flex-start;
      //   // border-spacing: 25px 10px;
      // }

      .table_address,
      .address {
        min-width: 135px;
        text-align: left;
      }

      .address {
        border-spacing: 5px 10px;
      }


      .table_status {
        min-width: 140px;
      }

      .status {
        position: relative;
        min-width: 140px;
        vertical-align: top;

        button {
          display: flex;
          align-items: center;
          padding: 0 15px;
          cursor: pointer;
          background-color: color(other, green);
          color: color(color_gray, white);
          border-radius: 5px;
          line-height: 34px;
          outline: none;
          box-shadow: none;
          border: none;
          font-weight: bold;

          .triangle_bottom {
            margin-left: 5px;
            border-top: 4px solid color(color_gray, white);
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
          }

          .triangle_top {
            margin-left: 5px;
            border-bottom: 4px solid color(color_gray, white);
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
          }

          &:active {
            box-shadow: 0 0 5px color(color_teal, light);
          }
        }

        .status_selection {
          display: flex;
          animation: selectMove 0.4s ease-in-out;
          position: absolute;
          z-index: 2;
          width: 125px;
          background-color: color(color_gray, white);
          flex-direction: column;
          box-shadow: 0 0 10px color(color_teal, dark);
          top: 43px;
          left: 11px;
          margin-top: 10px;

          li {
            display: flex;
            justify-content: center;
            padding: 5px 0;
            color: color(color_teal, dark);
            font-size: nth($font, 2);
            width: 100%;

            &:hover,
            &:focus {
              color: color(color_gray, white);
              background-color: color(color_teal, dark);
            }
          }
        }

        @keyframes selectMove {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }
      }
    }

    .table {
      .grayRow {
        background-color: adjust-color(color(color_gray, gray), $lightness: 30%);
      }

      .paidColor {
        background-color: color(other, green);
      }

      .shippingColor {
        background-color: color(other, orange);
      }

      .unpaidColor {
        background-color: color(other, skyblue);
      }

      .doneColor {
        background-color: color(color_gray, gray);
      }

      .doneStyle {
        color: color(color_teal, gray);

        td {
          text-decoration: line-through;

          &:last-child {
            text-decoration: none;
          }
        }
      }

      .unpaidStyle {
        color: color(color_teal, gray);
      }
    }
  }


}