@import '_style';

a {
  text-decoration: none;
}

.content {
  width: 100%;
  height: 100%;
  background-color: color(color_gray, white30);
  padding-bottom: 40px;

  .content_head {
    display: flex;
    margin: 0 4%;
    padding-top: 30px;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    #check_option_icon {
      display: flex;
      @include background-img;
      background-image: url(../assets/img/tags.svg);
      height: 15px;
      width: 19px;
      margin-left: 15px;
      position: relative;

      .tooltip,
      .tooltip_right {
        position: absolute;
        top: 30px;
        left: -45px;
        white-space: nowrap;
        display: inline-flex;
        align-items: center;
        font-size: nth($font, 1);
        height: 29px;
        padding: 0px 10px;
        background-color: color(color_teal, dark);
        color: color(other, white);
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s;

        &::after {
          content: '';
          position: absolute;
          top: -12px;
          left: 50px;
          border-top: 4px solid transparent;
          border-bottom: 8px solid color(color_teal, dark);
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
        }
      }

      .tooltip_right {
        top: -10px;
        left: 35px;
        border-radius: 3px;

        &::after {
          content: '';
          position: absolute;

          top: 12px;
          left: -12px;
          border-bottom: 4px solid transparent;
          border-right: 8px solid color(color_teal, dark);
          border-top: 4px solid transparent;
          border-left: 4px solid transparent;
        }
      }

      &:hover {

        .tooltip,
        .tooltip_right {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .check_option {
      position: relative;
      cursor: pointer;
      height: 15px;
      z-index: 5;
      color: color(color_teal, light);
      display: inline-flex;
      align-items: center;
      margin: 0 8px;

      a {
        color: color(color_teal, dark);
      }

      .select_menu,
      .status_change {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 15px;
        left: 0px;
        margin-top: 10px;
        box-shadow: 0 0 10px color(color_teal, dark);

        li {
          background-color: color(color_gray, white);
          width: 125px;
          height: 34px;

          &:first-child {
            padding-top: 6px;
          }

          &:last-child {
            padding-bottom: 6px;
          }

          a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: color(color_gray, white);
            width: 125px;
            height: 34px;

            &:hover,
            &:focus {
              background-color: color(color_teal, dark);
              color: color(color_gray, white);
            }
          }
        }

        .has_check {
          background-color: color(color_yellow, main);
        }
      }

      .status_change {
        left: -45px;
      }

      input {
        visibility: hidden;
      }

      label {
        cursor: pointer;
        position: absolute;
        bottom: -1px;
        left: 0px;
        width: 14px;
        height: 14px;
        border-radius: 3px;
        display: inline-block;
        border: 1px solid color(color_teal, light);

        &:hover {
          background-color: color(color_teal, gray30);
        }

        &::after {
          content: none;
          position: absolute;
          bottom: 6px;
          left: 3px;
          width: 8px;
          height: 4px;
          transform: rotate(-45deg);
          border-bottom: 2px solid color(color_gray, white);
          border-left: 2px solid color(color_gray, white);
        }
      }

      input[class="checked"]+label {
        background-color: color(color_teal, dark);

        &::after {
          content: '';
        }
      }
    }

    .triangle_bottom {
      display: inline-flex;
      width: 0;
      height: 0;
      margin-left: 5px;
      cursor: pointer;
      line-height: 10px;
      border-top: 5px solid color(color_teal, dark);
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }

    .edit_section {
      margin: 0 8px;
      position: relative;

      a {
        color: color(color_teal, dark);
        display: inline-flex;
        align-items: center;
      }

      ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 5;
        left: 0px;
        margin-top: 10px;
        box-shadow: 0 0 10px color(color_teal, dark);

        li {
          background-color: color(color_gray, white);
          width: 150px;
          height: 34px;
          display: inline-flex;
          align-items: center;

          &:first-child {
            padding-top: 6px;
          }

          &:last-child {
            padding-bottom: 6px;
          }

          input {
            margin: 10px 0px 10px 20px;
          }

          label {
            margin-left: 10px;
          }
        }
      }

      margin-left: auto;
    }
  }

  .content_table {
    user-select: none; //禁止選取
    position: relative;
    margin: 0 4%;
    height: auto;
    overflow: auto;
    overflow-y: hidden;

    table {
      position: relative;
      color: color(color_teal, dark);
      table-layout: auto;
      word-break: keep-all;

      tr {
        white-space: nowrap;
        border-spacing: 10px;

        th {
          height: 40px;
          text-align: left;
          background-color: color(color_yellow, main);
          display: inline-table;
          min-width: 120px;
          border-collapse: separate;
          border-spacing: 10px 0;

          &:first-child {
            vertical-align: top;
            min-width: 20px;
            border-spacing: 0;
          }
        }

        td {
          line-height: 150%;
          font-size: nth($font, 1);
          text-align: left;
          display: inline-table;
          min-width: 120px;
          max-width: 120px;
          word-break: break-all;
          white-space: normal;
          border-collapse: separate;
          border-spacing: 10px;

          &:first-child {
            font-size: 16px;
            text-align: right;
            min-width: 15px;
            margin-left: 7px;
            border-spacing: 0 7px;
          }
        }

        &:last-child {
          .status_select {
            top: -185px;
            left: 11px;
          }
        }
      }

      .table_title {
        height: 40px;
        line-height: 40px;
      }

      .table_check {
        position: relative;

        input {
          visibility: hidden;
        }

        label {
          position: absolute;
          z-index: 2;
          bottom: 10px;
          left: 1px;
          width: 15px;
          cursor: pointer;
          height: 15px;
          border-radius: 3px;
          display: inline-block;
          background-color: color(color_yellow, white);

          &:hover {
            background-color: color(color_teal, gray30);
          }

          &::after {
            content: none;
            position: absolute;
            bottom: 6px;
            left: 3px;
            width: 8px;
            height: 4px;
            transform: rotate(-45deg);
            border-bottom: 2px solid color(other, white);
            border-left: 2px solid color(other, white);
          }
        }

        input[class="checked"]+label {
          background-color: color(color_teal, dark);

          &::after {
            content: '';
          }
        }
      }

      .table_order_id,
      .order_id {
        min-width: 85px;
      }

      .order_id {
        text-align: center;
      }

      .table_customer,
      .customer {
        min-width: 140px;
      }

      .table_product {
        min-width: 185px;
      }

      .product_list {
        min-width: 185px;
        border-spacing: 0 10px;

        li {
          display: flex;
          margin: 0 20px 10px 10px;
          border-bottom: 1px solid color(color_teal, main);

          &:last-child {
            border: none;
            margin-bottom: 0px;
          }

          p {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            >span {
              color: color(color_teal, gray);
              margin-bottom: 8px;
            }
          }

          >span {
            margin-left: auto;
            margin-right: 10px;
            line-height: 50px;
          }
        }
      }

      .table_total,
      .total {
        min-width: 80px;
      }

      // .add_cart,
      // .check_out {
      //   // display: inline-flex;
      //   // align-items: flex-start;
      //   // border-spacing: 25px 10px;
      // }

      .table_address,
      .address {
        min-width: 135px;
        text-align: left;
      }

      .address {
        border-spacing: 5px 10px;
      }


      .table_status {
        min-width: 140px;
      }

      .status {
        position: relative;
        min-width: 140px;
        vertical-align: top;

        button {
          display: flex;
          align-items: center;
          padding: 0 15px;
          cursor: pointer;
          background-color: color(other, green);
          color: color(color_gray, white);
          border-radius: 5px;
          line-height: 34px;
          outline: none;
          box-shadow: none;
          border: none;
          font-weight: bold;

          .triangle_bottom {
            margin-left: 5px;
            border-top: 4px solid color(color_gray, white);
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
          }

          .triangle_top {
            margin-left: 5px;
            border-bottom: 4px solid color(color_gray, white);
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
          }

          &:active {
            box-shadow: 0 0 5px color(color_teal, light);
          }
        }

        .status_selection {
          display: flex;
          animation: selectMove 0.4s ease-in-out;
          position: absolute;
          z-index: 2;
          width: 125px;
          background-color: color(color_gray, white);
          flex-direction: column;
          box-shadow: 0 0 10px color(color_teal, dark);
          top: 43px;
          left: 11px;
          margin-top: 10px;

          li {
            display: flex;
            justify-content: center;
            padding: 5px 0;
            color: color(color_teal, dark);
            font-size: nth($font, 2);
            width: 100%;

            &:hover,
            &:focus {
              color: color(color_gray, white);
              background-color: color(color_teal, dark);
            }
          }
        }

        @keyframes selectMove {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }
      }
    }

    .table {
      .grayRow {
        background-color: adjust-color(color(color_gray, gray), $lightness: 30%);
      }

      .paidColor {
        background-color: color(other, green);
      }

      .shippingColor {
        background-color: color(other, orange);
      }

      .unpaidColor {
        background-color: color(other, skyblue);
      }

      .doneColor {
        background-color: color(color_gray, gray);
      }

      .doneStyle {
        color: color(color_teal, gray);

        td {
          text-decoration: line-through;

          &:last-child {
            text-decoration: none;
          }
        }
      }

      .unpaidStyle {
        color: color(color_teal, gray);
      }
    }
  }


}