@import '_style';

a {
  text-decoration: none;
}

.product_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: color(color_gray, light20);
  padding-bottom: 40px;
}

@import '_extend.scss';

.content_head {

  //互動式視窗
  .add_product_btn {
    cursor: pointer;
    line-height: 34px;
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: nth($font, 1);
    padding: 0 16px;
    border-radius: 5px;
    font-weight: bold;
    background-color: color(color_teal, dark);
    color: color(other, white);
    border: color(color_teal, dark);
    outline: none;

    &:active,
    &:focus {
      box-shadow: 0 0 5px color(color_teal, dark);
    }

    span {
      margin-left: 8px;
      font-weight: 800;
      font-size: 17px;
    }
  }

  .add_modal {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 999;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.5);
    transition: visibility 0s linear 0.25s, opacity 0.25s, transform 0.25s;
  }

  .modal {
    width: 1024px;
    margin: 4% auto;
    height: auto;
    overflow-y: auto;
  }

  .modal_head {
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    background-color: color(color_teal, dark);
    color: color(other, white);
    height: 64px;
    line-height: 64px;
    padding: 0 35px;

    h3 {
      font-size: nth($font, 4);
      font-weight: bold;
    }

    .close_btn {
      display: inline-flex;
      margin-left: auto;
      width: 19px;
      height: 19px;
      background-image: url(../assets/img/x.svg);
      @include background-img;

      &:hover {
        background-image: url(../assets/img/x-yellow.svg);
      }
    }
  }

  .modal_content {
    display: flex;
    border-radius: 0 0 5px 5px;
    background-color: color(other, white);

    form {
      width: 100%;
      display: flex;
    }

    .add_image {
      display: flex;
      flex-direction: column;
      margin-right: 30px;
      margin-left: 30px;
      margin-top: 30px;
      height: auto;
      width: 70%;

      input {
        width: 0.1px;
        position: absolute;
        height: 0;
      }

      label {
        // width: 394px;
        width: 100%;
        background-color: color(color_teal, gray25);
        padding: 25px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: color(color_teal, dark);
        font-weight: bold;
        line-height: 24px;
        margin-bottom: 10px;

        .upload_icon {
          margin-bottom: 8px;
          width: 48px;
          height: 48px;
        }


        &:active {
          transform: translate() 4s;
          box-shadow: 0 0 5px color(color_teal, dark);
        }

        //參考資料 https://stackoverflow.com/questions/42853699/is-there-a-css-drop-hover-pseudo-class
        &[class="dragZone"] {
          transform: translate() 4s;
          box-shadow: 0 0 5px color(color_teal, dark);
          color: color(color_teal, gray);

          .upload_icon {
            color: color(color_teal, gray)
          }
        }
      }

      .image_previews {
        display: flex;
        flex-wrap: wrap;
        // width: 394px;
        width: 100%;
        justify-content: space-between;

        .preview_box {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          position: relative;
          margin-top: 10px;
          box-sizing: border-box;
          // background-color: #000;

          .delete_icon {
            color: color(color_teal, teal);
            opacity: 0;
            height: 0.1px;
            width: 0.1px;
            transition: all 0.5s ease-out;
          }

          .image_delete {
            width: 100%;
            height: 0px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: color(other, whiteO30);
            box-sizing: border-box;
            transition: all 0.5s ease;
          }

          img {
            display: inline-flex;
            margin-bottom: 8px;
            width: 126px;
            height: 126px;
            object-fit: cover;

            &:last-child {
              margin-right: 0;
            }
          }

          &:hover {
            .image_delete {
              height: 30px;
              width: 100%;
            }

            .delete_icon {
              width: 1.33em;
              height: 1.33em;
              opacity: 1;

              &:hover {
                color: color(color_yellow, main);
              }
            }
          }


        }
      }
    }

    .add_information {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-size: nth($font, 2);

      label {
        width: 90%;
        margin-bottom: 8px;
        font-weight: bold;
        color: color(color_teal, dark);
      }

      input {
        width: 90%;
        padding: 0 16px;
        line-height: 38px;
        border-radius: 5px;
        margin-bottom: 8px;
        border: 0.5px solid color(color_teal, gray);
        outline: none;

        &::placeholder {
          color: color(color_teal, gray);
        }
      }

      textarea {
        width: 90%;
        border-radius: 5px;
        border: 0.5px solid color(color_teal, gray);
        padding: 10px 16px;
        resize: none;
        margin-bottom: 20px;
        outline: none;

        &::placeholder {
          color: color(color_teal, gray);
        }
      }

      .info_price>label {
        position: relative;

        span {
          display: inline-flex;
          border-radius: 5px 0 0 5px;
          line-height: 38px;
          padding: 0 15px;
          border-top: 0.5px solid color(color_teal, gray);
          border-left: 0.5px solid color(color_teal, gray);
          border-bottom: 0.5px solid color(color_teal, gray);
          outline: none;
          background-color: color(color_teal, gray25);
          color: color(color_teal, dark);

        }

        input {
          width: 70px;
          padding: 0 15px;
          border-radius: 0 5px 5px 0;
          margin-right: 10px;
        }
      }

      .specification_info {
        width: 100%;

        label {
          position: relative;

          span {
            display: inline-flex;
            border-radius: 5px 0 0 5px;
            line-height: 38px;
            padding: 0 15px;
            border-top: 0.5px solid color(color_teal, gray);
            border-left: 0.5px solid color(color_teal, gray);
            border-bottom: 0.5px solid color(color_teal, gray);
            outline: none;
            background-color: color(color_teal, gray25);
            color: color(color_teal, dark);
          }

          input {
            width: 50px;
            padding: 0 10px;
            border-radius: 0 5px 5px 0;
            margin-right: 10px;
          }
        }

        .style {
          width: 50%;
        }

        .specification_icon {
          margin-bottom: 10px;
        }

        .specification_check {
          margin-left: auto;
        }

        .specification_delete,
        .specification_edit,
        .specification_check {

          cursor: pointer;
          color: color(color_teal, gray);
          margin-right: 10px;

          &:hover {
            color: color(color_teal, dark);

          }
        }

        .has_determine {
          user-select: none;
          color: color(color_teal, gray);
        }
      }


      .add_new_btn {
        display: flex;
        width: 96%;
        justify-content: center;
        align-items: center;
        background-color: color(color_teal, dark);
        color: color(other, white);
        font-weight: bold;
        padding: 8px 10px;
        border-radius: 5px;

        img {
          margin-left: 8px;
          width: 20px;
        }
      }

      #close_reset {
        position: absolute;
        width: 1px;
        height: 1px;
        visibility: hidden;
        border: none;
      }

      .submit_btn {
        margin-top: 30px;
        margin-right: 4%;
        display: flex;
        align-items: center;
        margin-left: auto;

        a {
          color: color(color_teal, gray);
          font-weight: bold;
          margin-right: 30px;
        }

        button {
          cursor: pointer;
          background-color: color(color_teal, dark);
          color: color(other, white);
          padding: 8px 16px;
          line-height: 18px;
          font-weight: bold;
          border-radius: 5px;
        }
      }
    }
  }
}

.content_product_table {
  position: relative;
  margin: 0 2%;
  overflow: auto;
  overflow-y: hidden;
}

.product_table {
  margin: 0 2%;
  user-select: none;
  color: color(color_teal, dark);
  table-layout: auto;
  word-break: keep-all;
  margin-bottom: 30px;

  tr {
    white-space: nowrap;
    border-spacing: 10px;

    th {
      height: 40px;
      line-height: 40px;
      text-align: left;
      background-color: color(color_yellow, main);
      display: inline-table;
      min-width: 130px;
      border-collapse: separate;
      border-spacing: 10px 0;

      &:first-child {
        vertical-align: top;
        width: 2%;
        min-width: 20px;
        border-spacing: 0;
      }

      &:last-child {
        min-width: 155px;
      }


    }

    td {
      line-height: 150%;
      font-size: nth($font, 1);
      text-align: left;
      display: inline-table;
      min-width: 130px;
      word-break: break-all;
      white-space: normal;
      border-collapse: separate;
      border-spacing: 10px;

      &:first-child {
        font-size: 16px;
        text-align: right;
        min-width: 15px;
        margin-left: 7px;
        border-spacing: 0 7px;
      }
    }
  }

  .table_checkbox {
    position: relative;

    >label {
      cursor: pointer;
      position: absolute;
      bottom: 9px;
      left: 0px;
      width: 14px;
      height: 14px;
      border-radius: 3px;
      display: inline-block;
      background-color: color(other, white);
      border: 1px solid color(color_teal, light);

      &:hover {
        background-color: color(color_teal, gray);
      }

      &::after {
        content: none;
        position: absolute;
        bottom: 6px;
        left: 3px;
        width: 8px;
        height: 4px;
        transform: rotate(-45deg);
        border-bottom: 2px solid color(other, white);
        border-left: 2px solid color(other, white);
      }
    }

    >input {
      visibility: hidden;
    }

    input[class=checked]+label {
      background-color: color(color_teal, dark);

      &::after {
        content: '';
      }
    }
  }



  .table_product {
    min-width: 160px;
    padding-right: 10px;
  }

  .table_discount {
    padding-right: 10px;
  }



  .information_size,
  .information_style,
  .information_inventory {
    min-width: 100px;
  }

  .information_inventory {
    padding-right: 30px;
  }

  .product {
    width: 170px;
    word-break: keep-all;
    white-space: nowrap;

    >img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      vertical-align: middle;
    }

    >span {
      display: inline-block;
      white-space: pre-line;
      vertical-align: middle;
      width: 100px;
      margin-left: 10px;
    }
  }

  .information {
    margin-right: 35px;

    >ul {
      display: flex;
      flex-direction: column;

      >li {
        display: inline-flex;
        align-content: center;
        padding: 8px 0;
        border-bottom: 1px solid color(color_teal, light);

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }

    .style_info {
      display: flex;
      flex-direction: column;
    }

    .give_them_group {
      display: flex;
    }

    .size,
    .style,
    .inventory {
      width: 100px;
    }


    .style>p {
      display: flex;
      flex-wrap: wrap;
      margin-right: 15px;
    }


    .inventory {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-end;
      width: 70px;
    }
  }

  .status {
    min-width: 160px;
    vertical-align: bottom;

    .status_Btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      position: relative;
      background-color: color(other, green);
      color: color(other, white);
      padding: 8px 16px;
      border-radius: 5px;
      margin-right: 10px;
      font-weight: bold;
      outline: none;
      border: none;

      &:active,
      &:focus {
        box-shadow: 0 0 5px color(color_teal, light);
      }
    }

    .status_option {
      width: 90%;
      display: flex;
      cursor: pointer;
      // display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 40px;
      left: 5%;
      background-color: color(other, white);
      box-shadow: 0 0 5px color(color_teal, dark);
      z-index: 99;

      a {
        width: 100%;
        padding: 8px 0;
        color: color(color_teal, dark);

        &:hover {
          background-color: color(color_teal, dark);
          color: color(other, white);
        }
      }
    }

    .published_status {
      background-color: color(other, green);
    }

    .unpublished_status {
      background-color: color(color_gray, gray);
    }
  }

  .triangle_bottom {
    margin-left: 5px;
    border-top: 4px solid color(other, white);
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
  }

  .triangle_top {
    margin-left: 5px;
    border-bottom: 4px solid color(other, white);
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
  }

  .has_check {
    background-color: color(color_yellow, main);
  }

  .tealGray {
    background-color: color(color_teal, gray30);
  }

  .unpublished {
    color: color(color_teal, light);
  }
}